body {
	background-color: rgb(239, 230, 230);
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
.h1 {
	color: #808284;
}

.carousel-item {
	min-height: 652px;
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgb(239, 230, 230);
}

.slide-1 {
	background-image: url('../images/cakes/resized/slide-1.jpeg');
}
.slide-2 {
	background-image: url('../images/cakes/resized/slide-2.jpg');
}
.slide-3 {
	background-image: url('../images/cakes/resized/slide-3.jpeg');
}

.telegram {
	max-width: 50px;
}
.linkedIn {
	max-width: 48px;
}

.nav-basket-image {
	max-width: 30px;
}

/* basket */

.basket-wrapper {
	background-color: white;
	margin: auto;
}

.basket-card {
	background-color: rgb(239, 230, 230);
}

.basket-image img {
	width: 100%;
}

.basket-text {
	display: flex;
	align-items: center;
}

.basket-price {
	font-weight: 700;
	display: flex;
	align-items: center;
}

.total-price {
	font-weight: 700;
	display: flex;
	align-items: center;
}

.basket-count,
.basket-reciept-item {
	font-weight: 700;
}

.basket-control {
	cursor: pointer;
}

/* cards */
.card {
	padding-left: 5px;
	padding-right: 5px;
}

.card {
	transition: transform 0.6s ease;
}

.card:hover {
	transform: scale(1.02);
}

.card-price {
	font-size: 32px;
	font-weight: 700;
}

.h1 {
	margin-bottom: 55px;
}

.about-image img {
	width: 100%;
}

.about-image {
	border: 5px solid white;
	border-radius: 5px;
}

/* contacts */
.contacts-wrapper {
	background-color: #ffffff;
	border-radius: 5px;
}
.custom-hover:hover {
	background-color: #e89ca2 !important; /* Slightly darker than bg-danger-subtle */
	border-color: #e6848c !important; /* Slightly deeper border */
	color: #000 !important;
}

/* signin */
.signin-section {
	min-height: calc(100vh - 170px);
}

/* footer  */
.footer .p-4 {
	padding: 1.7rem !important;
	min-height: 50px;
}

.copywrite {
	color: #808284;
}
